.topnav {
    background: #315EA1 ;
    font-size:xx-large;
}
.topnavhead {
    color: white;
    top: 0;
    margin: 0;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }


.content_elibrary {
    max-width: 400px;
    padding: 30px;
    margin: 200px 50px 50px 490px;
}

.signin {
  padding: 15px 32px;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background: #315EA1;
  color:  white;
  border-radius: 12px;
  margin: 80px;

}

/* login page css below: */

body {
  background-color: lemonchiffon;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #2b3e51;
}

h2 {
  font-weight: 300;
  text-align: center;
}

p {
  position: relative;
}


#login-form-wrap {
  background-color: #fff;
  width: 35%;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#login-form {
  padding: 0 60px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  position: relative;
  display: inline-block;
  background: none;
}
input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #3ca9e2;
}
input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid {
  color: #cc1e2b;
  border-color: #cc1e2b;
}
input[type="text"]:valid ~ .validation,
input[type="email"]:valid ~ .validation {
  display: block;
  border-color: #0C0;
}
input[type="text"]:valid ~ .validation span,
input[type="email"]:valid ~ .validation span {
  background: #0C0;
  position: absolute;
  border-radius: 6px;
}
input[type="text"]:valid ~ .validation span:first-child,
input[type="email"]:valid ~ .validation span:first-child {
  top: 30px;
  left: 14px;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
input[type="text"]:valid ~ .validation span:last-child,
input[type="email"]:valid ~ .validation span:last-child {
  top: 35px;
  left: 8px;
  width: 11px;
  height: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.validation {
  display: none;
  position: absolute;
  content: " ";
  height: 60px;
  width: 30px;
  right: 15px;
  top: 0px;
}

input[type="submit"] {
  border: none;
  display: block;
  background-color: #3ca9e2;
  color: #fff;

  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}


#create-account-wrap {
  background-color: #eeedf1;
  color: #8a8b8e;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}


/* login with linkdn: */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
body {
  background-color: #f4f4f4;
  margin: 0;
}

input,
.btn {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 4px 0;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

@media screen and (max-width: 650px) {
  .col {
    width: 90%;
    margin-top: 0;
  }
}
a:link
{
    color:#FFFFFF;
}
.fb {
  background-color: #3B5998;
}

.twitter {
  background-color: #55ACEE;
}

.google {
  background-color: #dd4b39;
}

/* style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
  margin: 0px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.addbook {
  border: none;
  padding: 6px 10px;
  float: right;
  font-weight: 400;
  color: red;
  background-color: #e0efff;
  margin: auto;
  display: block;
  cursor: pointer;
  float: right;
}

.user_icon {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 5px 5px;
  float: right;
  margin: 8px 20px 0px;
}


/* book reviews page :login_elibrary.html */

body {
  background-color: #eaeff1;
  font-family: "Raleway", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

.card_image {
  width: 100%;
  border-radius: 0px;
  height: 200px;
  object-fit: cover;
}

#card_container {
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-auto-rows: auto;
margin: 80px;
  margin-top: 0;
    display: grid;
  column-gap: 2em;
  row-gap: 2em;
}

.card {
  /* Change background color */
  background-color: white;

  /* Add border */
  border: 1px solid #bacdd8;
  width: 200px;
  height: auto;
  /* Add space between the border and the content */
  padding: 8px;

  border-radius: 0px;
}

.genre {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  margin: 0;
  border-radius: 50px;
  font-size: 10px;
  font-weight: 600;
  color: #788697;
}

/* Style div elements that have class equal to name */
.name {
  font-size: 15px;
  font-weight: 600;
  margin-top: 14px;
}

.author {
  font-size: 14px;
  font-weight: 400;
}

/* Style p element */
p {
  font-size: 11px;
  color: #7f8c9b;
  line-height: 150%;
}

/* Style button element */
.read_more {
  border: none;
  padding: 6px 10px;
  border-radius: 50px;
  float: right;
  font-weight: 400;
  color: #0077ff;
  background-color: #e0efff;

  /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
  margin: auto;
  display: block;

  /* Button is a clickable element, therefore it should have a pointer cursor */
  cursor: pointer;
}

.card__details {
  /* Add space around the details */
  padding: 3px 2px 2px 2px;
}

.read_more:focus,
.read_more:hover {
  background-color: #0077ff;
  color: #e0efff;
}

/* book_description: */
* {
  box-sizing: border-box;
}
  
#book_description {
  padding-top: 20px;
}

.book1{
  float: left;
  margin-left: 20px;
}

.column2 {
  width: 70%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 800px;
  float: none;
}


.column1 {
  float: left;
  width: 20%;
  padding: 0px;
  height: 700px;
  margin: 15px 15px;
}

.rating {
  width: 220px;
  height: 40px;
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .column1, .column2 {
    width: 50%;
    padding: 10px;
  }
  .book1 {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .column1, .column2, .downloads, .download-btn, .about_book  {
    width: 100%;
  }
}

.rating label {
  float: right;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.rating label:not(:first-of-type) {
  padding-right: 2px;
}
.rating label:before {
  content: "\2605";
  font-size: 20px;
  color: #ccc;
  line-height: 1;
}
.rating input {
  display: none;
}
.rating input:checked ~ label:before, .rating:not(:checked) > label:hover:before, .rating:not(:checked) > label:hover ~ label:before {
  color: #f9df4a;
}

.downloads {
  padding:  10px 20px;
  font-size: 16px;
  margin: 10px 0;
  float: left;
}


.download-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.download-btn:hover {
  background-color: #3e8e41;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



#author_bio {
  padding: 50px ;
  width: 100%;
  align-items: flex-start;
  margin: 20px;
  background-color: #f1f1f1;
  height: 200px;
  
}

footer {
  font-size: small;
  font-display: block;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: grey;
  color: white;
  text-align: center;
  
  
}

.book1 {
  margin: 20px;
}

/* myprofile.html */

body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ddd;
  align-items: center;
  justify-content: center;
}

*{
  box-sizing: border-box;
}

.container{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
}

table {
  padding: 40px 40px ;
  font-size: 20px;
  text-align: left;
}

.box{
  flex: 20%;
  display: table;
  align-items: center;
  text-align: center;
  background-color: #315EA1;
  color: #fff;
  padding: 30px 30px;
  border-radius: 0px;
  border: none;
  height: 300px;

}

.box img{
  border-radius: 100%;
  border: 2px solid #fff;
  height: 200px;
  width: 200px;
}

.box ul tr{
  margin-top: 30px;
  font-size: 2px;
  text-align: center;
}
.box ul li tr td{
  list-style: none;
  margin-top: 50px;
  font-weight: 100;
  text-align: start;
}

.box ul li tr td i{
  cursor: pointer;
  margin: 10px;
  font-size: 30px;
}

.box ul li tr td i:hover{
  opacity: 0.6;
}

.About{
  margin-left: 20px;
  flex: 50%;
  display: table;
  padding: 30px 30px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 0px;
}

.About h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: 500;
}

.About ul li{
  list-style: none;
}

.About ul{
  margin-top: 20px;
}

.contact {
  bottom: 25px;
}

@media screen and (max-width: 1068px) {
  .container{
      display: table;
  }

  .box{
      width: 100%;
  }

  .About{
      width: 100%;
      margin: 0;
      margin-top: 20px;
  }

  .About h3{
      text-align: center;
  }
}

.my_collection {
  margin: 15px;
  border-radius: 2px;
}

/* my_collection */

.sidenav {
  height: 100%;
  width: 160px;
  position:absolute;
  z-index: 1;
  top: 80px;
  left: 0;
  background-color: #315EA1;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 20px 10px 16px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: black;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

body {
  overflow: scroll;
}

.my_collection_section {
 /* The width of your document, I suppose */
 width:100%;
 margin: 0;
 white-space:nowrap; 
 overflow-x: scroll; 
 
}

.book_cover {
  margin-right: 80px; 
  height: 200px;
  
}

.pic-container {
/* As large as it needs to be */
 width: 1500px;
 row-gap: 25px;
}​



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

.about_body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about-us{
  height: 100vh;
  width: 100%;
  padding: 5px 20px;
  background: #ddd;
}
.about{
  width: 1100px;
  max-width: 85%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 500px;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;

}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

/* 
addbook.php page css */
/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.addbook_form {
  margin: 10px;
  padding: 10px;
}

.add_book_button {
  background-color: #4CAF50;;
	border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
